  <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-nav">
                        <div class="top-nav-item" *ngFor="let nav of nav"><a href="#">{{nav}}</a></div>
                        <div class="top-nav-item"><a href="#"><i class="material-icons">view_modules</i></a></div>
                        <div class="top-nav-item"><button type="button" class="btn btn-primary" style="color:white;" (click)="popUp()">Sign In</button></div>
                        
                    </div>
                </div>        
         
            </div> 
            <div class="row">
                <div id="google">
                    <a href="{{googleUrl}}" target="_blank"><img src="{{googleImg}}" width="500" height="200"></a>
                    <input type="text" class="form-control" id="searchInput">
                    <div id="search-btn">
                      <button type="button" class="btn btn-default">Google Search</button>
                      <button type="button" class="btn btn-default">I'm Feeling Lucky</button>
                    </div>
                </div>
              
            </div>

            <div class="pop-up" [hidden]="visible">
                <div id="box">
                    <form class="form-group"
                        [formGroup]="form"
                        (ngSubmit)= "submitForm(form.value)">
                        <h5 class="page-header">Please Log In</h5>
                        <label for="email-address">Email:</label>
                        <input type="text" class="form-control" name="email" placeholder="me@gmail.com" formControlName="email">
                        <p class="errorMsg" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">Enter a valid email</p>
                        <label for="passwords">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="password" formControlName="password">
                        <p class="errorMsg" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">{{errorAlert}}</p>
                        <input type="submit" class="btn btn-success" [disabled]="!form.valid">
                    </form>
                    
                </div>
            </div>

            <div class="footer">
                <div id="footer-menu">
                    <div id="item1">
                        <a href="#" *ngFor="let x of item1">{{x}}</a>                        
                    </div>
                    <div id="item2">
                        <a href="#" *ngFor="let y of item2">{{y}}</a>
                    </div>
                </div>

            </div>
       
    </div>
