<div class="row">
    <div class="col-sm-12">
        <ul id="appscontainer">
            <li class="apps">
                <div class="app-link">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                   
                </div>
                <p>Account</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-google"></i>
                    </span>
                </div>
                <p>Search</p> 
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-globe"></i>
                    </span>
                </div>
                <p>Maps</p> 
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-play-circle"></i>
                    </span>
                </div>
                <p>Youtube</p> 
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-address-book"></i>
                    </span>
                </div>
                <p>Contacts</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-rss-square"></i>
                    </span>
                </div>
                <p>News</p> 
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-envelope-square"></i>
                    </span>
                </div>
                <p>Gmail</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-play"></i>
                    </span>
                </div>
                <p>Play</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-upload"></i>
                    </span>
                </div>
                <p>Drive</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                <p>Calender</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-language"></i>
                    </span>
                </div>
                <p>Translate</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-camera"></i>
                    </span>
                </div>
                <p>Photos</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                </div>
                <p>Shopping</p>
            </li>
            <li class="apps">
                <div class="app-link">
                    <span>
                        <i class="fa fa-google"></i>
                    </span>
                </div>
                <p>Duo</p>
            </li>
        </ul>
    </div>
</div>